.row-01 {
    height: 35px;
    width: 90px;
    margin:120px 0px 0px 160px;
}

.logo {
    height: 35px;
    width: 70px;
    font-size: 18px;
    font-weight: 650;
    margin-top: 6px;
}

.navbar-hover:hover {
    color: black;
    border-bottom: 2px solid red;
}

.navbar-hover01 {
    margin-left: 28px;  
}

.navbar-01 {
    height: 38px;
    width: 720px;
    margin:-9px 0px 0px 85px;
    font-size: 12px;
    font-weight: 600;
}

.badge-01 {
    height: 30px;
    width: 100px;
    margin:4px 0px 0px 780px;
    padding-top: 8px;
}

.row-02 {
    margin-top: 10px;
    height: 585px;
    background-color: rgb(241, 252, 252);
}

.badge-02 {
    margin-top: 50px;
    margin-left: 600px;
    color: rgba(141, 139, 139, 0.938);
}

.row-03 {
    height: 548px;
    width: 672px;
    margin-left: 342px;
}

.card01 {
    font-size: 25px;
    margin: 15px 0px 0px -60px;
    font-family: cursive;
    color: rgba(104, 103, 103, 0.938);
}

.gallerydiv {
    height: 185px;
    width: 1011px;
    margin: -450px 0px 0px 152px;
}

.imagediv01 {
    height: 175px;
    width: 195px;
    margin: 5px 0px 5px -12px;
}

.imagediv02 {
    height: 175px;
    width: 195px;
    margin: -180px 0px 5px 193px;
}

.imagediv03 {
    height: 200px;
    width: 210px;
    margin: -193px 0px 5px 388px;
    background-color: white;
    border: 5px solid red;
}

.imagediv04 {
    height: 175px;
    width: 195px;
    margin: -192px 0px 5px 598px;
}

.imagediv05 {
    height: 175px;
    width: 195px;
    margin: -180px 0px 5px 804px;
}

.image {
    height: 100%;
    width: 100%;
}